@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h2 {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

a {
    text-decoration: none;
}

body {
    overflow-x:hidden;
}

.container {
    position: relative;
    width: 100%;
}

.navigation{
    position: fixed;
    height: 100%;
    width: 300px;
    background-color: #003147;
    transition: 0.5s;
    overflow: hidden;
}

.navigation.active {
    width: 60px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li {
    list-style: none;
    position: relative;
    align-items: center;
}

.navigation ul li:hover {
    background-color: #03a9f4;
}

.navigation ul li:nth-child(1){
    background-color: unset;
    margin-bottom: 20px;
}

.navigation ul li a {
    text-decoration: none;
    color: #FFF;
    position: relative;
    display: flex;
    width: 100%;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 50px;
    line-height: 55px;
    text-align: center;
}

.navigation ul li a .icon .fa {
    font-size: 24px;   
}

.navigation ul li a .title {
    line-height: 50px;
    padding: 0 10px;
    flex-wrap: nowrap;
    display: block;
    white-space: nowrap;
} 

/* MAIN */

.main {
    position: absolute;
    background-color: silver;
    width: calc(100% - 300px);
    left: 300px;
    transition: .5s;
}

.main.active{
    width: calc(100% - 60px);
    left: 60px;
}

.main .topbar {
    width: 100%;
    height: 60px;
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    height: 60px;
    width: 60px;
    position: relative;
}

.toggle i {
    height: 100%;
    width: 100%;
    line-height: 60px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
}

.search {
    width: 400px;
    position: relative;
    margin: 0 20px;
}

.search label input{
    height: 40px;
    width: 100%;
    padding: 5px 35px;
    outline: none;
    border-radius: 40px;
}

.search label i {
    position: absolute;
    left: 15px;
    top: 12px;
    font-size: 16px;
}

.user{
    position: relative;
    height: 50px;
    width: 50px;
    overflow: hidden;
    cursor: pointer;
}
.user img {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

/* END MAIN */

/* CARD BOX */

.cardBox{
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    
}

.cardBox .card {
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content:space-between;
    padding: 20px;
    cursor: pointer;
    align-items: center;
}

.cardBox .card .numbers {
    font-weight: bold;
    font-size: 24px;
}

.cardBox .card .cardName {
    color: #999;
}

.cardBox .card .iconBox i{
    font-size: 40px;
    color: #003147;
}

/* END CARDBOX */

/* DETAILS */

.details {
    width: 100%;
    position: relative;
    padding: 20px;
    padding-top: 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 2fr 1fr;
    height: 100%;
}

.details .recentOrders {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    display: grid;
    min-height: 250px;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.btn {
    position: relative;
    padding: 5px;
    background-color: #03a9f4;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
}

.details .recentOrders table
{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.details .recentOrders table thead td {
    font-weight: 600;
    padding: 10px 5px;
}

.details .recentOrders table thead td:last-child,
.details .recentOrders table tbody td:last-child{
    text-align: right;
}

.details .recentOrders table tbody td {
    padding: 10px 5px;
}

.details .recentOrders table tr:last-child{
    border-bottom: none;
}

.details .recentOrders table tr {
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.details .recentOrders table tbody tr:hover{
    background-color: #03a9f4;
    color: #fff;
}

.status{
    background-color: aqua;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 5px;
}

.Delivered {
    background-color: #8de02c;
}

.Pending {
    background-color: #f9ca3f;
}

.Return {
    background-color: #f00;
}

.Progress{
    background-color: #1795ce;
}

.details .recentCustomers{
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    position: relative;
}

.recentCustomers .imgBox{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.recentCustomers .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.recentCustomers h4{
    padding-left: 20px;
}

.recentCustomers span {
    opacity: .8;
    font-size: 12px;
}

.recentCustomers table tbody tr td {
    padding: 10px 0;
}